<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="characters delete">
	<h2>Delete a character</h2>

	<%= form_for(:char_type, :url => {:action => 'destroy', :id => @charTypes.id}) do |f| %>

	<p>Are you sure you want to permanently delete this character?</p>

	<p class="reference-name"><%= @charTypes.name %></p>

	<div class="form-buttons">
		<%= submit_tag("Delete") %>
	</div>

	<% end %>
</div>